{% extends 'base.html' %}

{% block content %}

<h1>AI Study Assistant</h1>

<div id="chatbox"></div>

<input id="message" placeholder="Ask your question...">
<button onclick="sendMessage()">Send</button>

<script>

async function sendMessage(){

let msg = document.getElementById("message").value

let response = await fetch("/ai/chat/", {
method:"POST",
body:JSON.stringify({message:msg})
})

let data = await response.json()

let box = document.getElementById("chatbox")

box.innerHTML += "<p><b>You:</b> "+msg+"</p>"
box.innerHTML += "<p><b>AI:</b> "+data.reply+"</p>"

}

</script>

{% endblock %}